<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.lecture}</title>
    </h:head>
    <h:body>
        <h1>#{msgs.lecture}</h1>
        <h2>#{msgs.title}</h2>
        <h:form>
            <h2>Try.</h2>   
            <h2>Username: lrugolo.</h2>   
            <h2>Password: itstudies12345</h2>   
            <h3>Please enter your name and password.</h3>   
            <table>
                <tr>
                    <td>Username:</td>
                    <td><h:inputText value="#{user.name}"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><h:inputSecret value="#{user.password}"/></td>
                </tr>
            </table>
            <p><h:commandButton value="Login" action="#{loginController.verifyUser()}"/></p>
        </h:form>

        <hr/>
    </h:body>
</html>

