<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <h:link outcome="app" value="Go to My App ..."/>
        <br />
        <h:link outcome="/customers/List" value="Show All Customers Items"/>
        <br />
        <h:link outcome="/productCategory/List" value="Show All ProductCategory Items"/>
        <br />
        <h:link outcome="/products/List" value="Show All Products Items"/>
        <br />
        <h:link outcome="/supplierRegion/List" value="Show All SupplierRegion Items"/>
        <br />
        <h:link outcome="/suppliers/List" value="Show All Suppliers Items"/>
    </h:body>





</html>

